* {
    margin: 0px;
    padding: 0px;
}

/* font family */
body {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Roboto', sans-serif;
}

header {

    background-color: Pink;

}

/* start common styles */
.primary-btn {
    padding: 15px 30px;
    color: #ffffffff;
    background-color: #E55473;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.section-name {
    font-size: 40px;
}

.feature-details {
    color: #9D9D9D;
    font-weight: 600;
}

.off-color {
    color: #E55473;
}

/* end common styles */
/* start banner styles */
.banner {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#banner-text {
    width: 40%;
}

#banner-text>h3 {
    font-size: 70px;
    text-align: left;
    padding-bottom: 30px;
}

#banner-text>p {
    text-align: left;
    font-size: 25px;
    padding-bottom: 20px;

}

#banner-img {
    width: 635px;
    height: 800px;
}

/* end banner styles */
/* start main section */


.feature-section {
    max-width: 1500px;
    margin: 0 auto;
}

.feature-text {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    margin-top: 140px;
    padding-bottom: 90px;
}

#feature-flower {
    display: flex;
    justify-content: space-around;
    /* justify-content: center center; */


}

.flower1 {
    background-color: #F2DEE7;
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-radius: 50% 50% 0 0;

}





.flower2 {
    background-color: #D9EFF1;
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-radius: 50% 50% 0 0;
    /* margin-right: 20px; */
}

.flower3 {
    background-color: #E3EBDB;
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-radius: 50% 50% 0 0;
    /* margin-right: 20px; */
}

#flowerName {
    display: flex;
    justify-content: space-around;
}

#flowerName>p {
    text-decoration: underline;
    font-weight: 600;
    color: #050202;

}

/* customer service section */
#cutomer-service {
    width: 1000px;
    margin: 0 auto;
    padding: 200px 0px;
    display: flex;
    justify-content: space-around;
}

#cutomer-service>div {
    text-align: center;
}

/* sign up section  */
.full-width {

    background-color: pink;
    padding: 100px 0px;
}

#signUpSection {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

#signUpDetails {
    text-align: center;
    width: 50%;
}

#signUpDetails>h2 {
    font-size: 30px;
}

#signUpDetails>h2,
p,
button {
    margin-bottom: 20px;
}



/* instagram section */
#instagramSection {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 100px;


}

#instagramDescription {
    width: 400px;
    margin: 0 auto;


}

#instagramDescription>h3,
p {
    text-align: center;
    padding: 20px;
}

.instagramImage>img {
    margin-right: 20px;
    border-radius: 30px;
}



/* start subscriber section  */
#subscriber {
    width: 1500px;
    height: 450px;
    margin: 0 auto;
    background-image: url(../assets/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    margin-top: 80px;
    text-align: center;
}

#subscriber>div {
    padding-top: 150px;
}

#subscriber>div>input[type="email"] {
    /* padding: 10px 200px; */
    width: 600px;
    height: 30px;
    padding: 5px;
    border: gray solid;
    border-radius: 10px;
    font-size: 20px
}

/* about section style start  */
#aboutUs {
    margin: 0 auto;
    width: 1500px;
    text-align: center;
    /* background-image: url(../assets/p1-title-img.jpg); */
    height: 300px;
    background-position: center;
    margin-top: 80px;
}

#aboutUs>h1 {
    padding-top: 100px;
    font-size: xx-large;
}

#left_side {
    width: 50%;
}

#left_side>h2 {
    font-size: 30px;
}

#left_side>h2,
hr,
h4,
button {
    margin-top: 10px;
}

#aboutusDescription div hr {
    margin-top: 10px;
    width: 335px;

    border: 2px solid #E55473;
}

#aboutusDescription {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#team {
    width: 1500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

#team>hr {
    width: 160px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1 px solid #E55473;
}

#team_img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}



/* start footer styles */
footer {
    margin-top: 100px;
    background-color: black;
}

#footerContent {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    color: #ffffffff;
    padding: 100px;
}

#footerContent>h1 {
    font-size: 40px;
}