* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 1980px;
    background-color: Pink;

}

/* start common styles */
.primary-btn {
    padding: 15px 30px;
    color: #ffffffff;
    background-color: #E55473;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.section-name {
    font-size: 40px;
}

.feature-details {
    color: #9D9D9D;
    font-weight: 600;
}

/* end common styles */
/* start banner styles */
.banner {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#banner-text {
    width: 40%;
}

#banner-text>h3 {
    font-size: 70px;
    text-align: left;
    padding-bottom: 30px;
}

#banner-text>p {

    font-size: 25px;
    padding-bottom: 20px;
}

#banner-img {
    width: 635px;
    height: 800px;
}

/* end banner styles */
/* start main section */
main {
    max-width: 1980px;
}

.feature-section {
    max-width: 1500px;
    margin: 0 auto;
}

.feature-text {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    margin-top: 140px;
    padding-bottom: 90px;
}

#feature-flower {
    display: flex;
    justify-content: space-around;
    /* justify-content: center center; */


}

.flower1 {
    background-color: #F2DEE7;
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-radius: 50% 50% 0 0;

}





.flower2 {
    background-color: #D9EFF1;
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-radius: 50% 50% 0 0;
    /* margin-right: 20px; */
}

.flower3 {
    background-color: #E3EBDB;
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-radius: 50% 50% 0 0;
    /* margin-right: 20px; */
}

#cutomer-service {
    width: 1000px;
    margin: 0 auto;
    padding: 200px 0px;
    display: flex;
    justify-content: space-around;
}

#cutomer-service>div {
    text-align: center;
}

/* sign up section  */
.full-width {
    width: 1980px;
    background-color: pink;
    padding: 100px 0px;
}

#signUpSection {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

#signUpDetails {
    text-align: center;
    width: 50%;
}

#signUpDetails>h2,
p,
button {
    margin-bottom: 20px;
}

#off-color {
    color: #E55473;
}

/* instagram section */
#instagramSection {
    max-width: 1500px;
    margin: 0 auto;


}

#instagramDescription {
    width: 400px;
    margin: 0 auto;


}

#instagramDescription>h3,
p {
    text-align: center;
    padding: 20px;
}

.instagramImage>img {
    margin-right: 20px;
    border-radius: 30px;
}

/* start subscriber section  */
#subscriber {}